rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permissivo durante fase de testes sem login manual
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
